<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head', {title: ' - All Users'}) %>
<body id="">
<!-- Header -->
    <%- include('../partials/header') %>
    <main>
        <div>
            <h1>Users</h1>
        <%= users %>
        <% users.forEach((user) => { %>
          
              <h4><%= user.user %></h4>
      <% }); %>
        </div>
    </main>
<!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>